/*Background picture*/
#mainBackground {
    position: fixed;
    min-width: 100%;
    max-height: 100%;
    z-index: -1;
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 40%;
}


/*Header*/
header {
    padding: 330px;
    text-align: center;
}

    header > h1 {
        color: hsl(208, 32%, 69%);
        font-size: 90px;
        font-weight: 600;
    }

    header > p {
        padding: 20px;
        font-size: 40px;
    }


/*About me*/
section#about {
    margin-top: 70px;
    padding: 100px;
    padding-right: 10%;
    padding-left: 10%;
    background-color: hsl(208, 32%, 69%);
    text-align: justify;
    font-size: 30px;
    line-height: 45px;
}

    section#about > p > a {
        text-decoration: none;
        font-style: italic;
    }


/*Portfolio*/
    section.portfolio .port-heading{
        padding: 150px;
        color: hsl(208, 32%, 69%);
        background-color: hsla(0, 0%, 16%, 0.492);
        text-align: center;
        font-size: 50px;
        font-weight: 600;
    }   
    
    section.portfolio .port-content {
        padding: 100px;
        padding-right: 10%;
        padding-left: 10%;
        text-align: justify;
        font-size: 30px;
        line-height: 45px;
    }

    section.portfolio .port-content > h3 {
        text-decoration: underline;
    }

    section.portfolio .port-content .program-content {
        display: flex;
        justify-content: space-between;
        margin-top: 40px; 
        gap: 35px;
    }

    section.portfolio .program-content p {
        font-size: 20px;
        line-height: 40px;
        text-align: justify;
    }

    section.portfolio .program-content h4 {
        padding-top: 30px; 
        padding-bottom: 20px; 
        color: hsl(208, 32%, 69%);
    }

    section.portfolio .dropbtn {
        padding-top: 20px;
        text-decoration: underline;
        cursor: pointer;
    }

    section.portfolio .dropbtn:hover {
        color: hsl(208, 32%, 69%);
        transition: 0.3s ease;
    }

    section.portfolio .dropdown-con {
        display: none;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }

    section.portfolio .show {
        display: flex;
        flex-direction: column;   
    }

    section.portfolio .dropdownInfo a {
        text-decoration-style: dotted;
    }

    section.portfolio .dropdownInfo a:hover {
        color: hsl(208, 32%, 69%);
        transition: 0.3s ease;
    }


 
/*GameMaster*/
.gameMaster {
    display: flex;
    flex-direction: column;
    padding: 30px;
    background-color: hsla(0, 0%, 16%, 0.492);
}
    .gameMaster .gameMasterPic {
        max-width: 94%;
        border: 15px solid black;
        
    }   
    
    .placeholder {
        display: flex;
        flex-direction: column;
        padding: 30px;
        background-color: hsla(0, 0%, 16%, 0.492);
        opacity: 0;
    }    

    .placeholder .placeholderPic {
        width: 94%;
        border: 15px solid black;
    }   


/*Animation*/
#animation {
    margin-top: 100px;
}

    
/*Contact*/
footer {
    background-color: hsl(0, 0%, 0%);
}

    footer #contact {
        padding: 80px;
        padding-top: 70px;
        padding-left: 10%;
        padding-right: 10%;
        font-size: 30px;
        text-align: justify;
        line-height: 45px;
    }

    footer #contact > h2 {
         color: hsl(208, 32%, 69%);
    }

    footer .flex {
        display: flex;
        gap: 500px;
    }

    footer .email {
        display: flex;
        gap: 40px;
    }

    footer .emailLogo {
        width: 42px;
        height: 30px;
        margin-top: 7px;
    }

    footer .email > a {
        text-decoration-style: dotted;
        color: white;
    }

    footer .email > a:hover {
        color: hsl(208, 32%, 69%);
    }

    footer .social {
        display: flex;
    }

    footer .social > p{
        font-weight: bold;
    }

    footer .gitHubLogo {
        width: 47px;
        height: 47px;
        margin-left: 30px;
    }

    footer .linkedInLogo {
        width: 40px;
        height: 40px;
        margin-top: 2px;
        margin-left: 10px;
    }

    footer .copy {
        text-align: center;
        vertical-align: bottom;
        padding: 20px;
        background-color: hsla(0, 0%, 16%, 0.492);
        font-size: 20px;
    }