/*Background picture*/
#mainBackground {
    position: fixed;
    z-index: -1;
    min-width: 100%;
    max-height: 100%;
    background-size: contain;
    opacity: 40%;
    background-repeat: no-repeat;
}

/*Main page header*/
header {
    text-align: center;
    padding: 330px;
    color: white;
}

    header > h1 {
        font-size: 90px;
        font-weight: 600;
        color: hsl(208, 32%, 69%);
    }

    header > p {
        font-size: 40px;
        padding: 20px;
    }

/*About me*/
section#about {
    margin-top: 70px;
    padding: 100px;
    padding-left: 10%;
    padding-right: 10%;
    background-color: hsl(208, 32%, 69%);
    color: white;
    font-size: 30px;
    text-align: justify;
    line-height: 45px;
}

    section#about > p > a {
        text-decoration: none;
        font-style: italic;
        color: white;
    }

/*portfolio*/
    span.port #portfolio {
        font-size: 50px;
        font-weight: 600;
        color: hsl(208, 32%, 69%);
        padding: 150px;
        text-align: center;
    }   
    




    
/*Contact*/
footer {
    background-color: hsl(0, 0%, 100%);
}

    footer #contact {
        margin-top: 70px;
        padding: 80px;
        padding-left: 10%;
        padding-right: 10%;
        font-size: 30px;
        text-align: justify;
        line-height: 45px;
    }

    footer #contact > h2 {
         color: hsl(208, 32%, 69%);
    }

    footer .flex {
        display: flex;
        gap: 500px;
    }

    footer .email {
        display: flex;
        gap: 40px;
    }

    footer .emailLogo {
        width: 42px;
        height: 30px;
        margin-top: 7px;
    }

    footer .email > a {
        text-decoration-style: dotted;
        color: black;
    }

    footer .email > a:hover {
        color: hsl(208, 32%, 69%);
    }

    footer .social {
        display: flex;
    }

    footer .social > p{
        font-weight: bold;
    }

    footer .gitHubLogo {
        width: 47px;
        height: 47px;
        margin-left: 30px;
    }

    footer .linkedInLogo {
        width: 40px;
        height: 40px;
        margin-top: 2px;
        margin-left: 10px;
    }


    footer .copy {
        text-align: center;
        vertical-align: bottom;
        padding: 20px;
        background-color: hsl(208, 32%, 69%);
        color: white;
        font-size: 20px;
    }