* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

body {
    background-color: black;
    color: white;
    width: fit-content;
}

p {
    hyphens: auto;
}

a {
    color: white;
}



/*Navigation bar*/
.nav { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 1;
    color: white;
    background-color: hsla(0, 0%, 16%, 0.492);
    font-size: 25px;
    font-weight: bold;
}

    .nav .logo {
        padding-left: 15px;
        color: hsl(208, 32%, 69%);
    }
    
    .nav .menu {
        display: flex;
        justify-content: flex-end;
    }

    .nav a {
        text-decoration: none;
    }

    .nav li {
        padding: 15px 20px;
        list-style: none;
    }

    .nav .port {
        line-height: 5%;
    }

    .nav .menu li:hover {
        background-color: hsla(208, 40%, 65%, 0.211);
        transition: 0.3s ease;
    }

    
    /*Dropdown menu*/
    .nav .dropdown-content {
        display: none;
        position: absolute;
        width: 194px;
        height: 145px;
        z-index: 1;
        background-color: hsla(0, 0%, 14%, 0.338);
    }  

    .nav .dropdown:hover .dropdown-content {
        display: flex;
        flex-direction: column;
        padding-left: 21px;
        padding-top: 20px;
        gap: 20px;
        z-index: 1;
    }
      
    .nav .dropdown:hover .dropdown-content a:hover {
        z-index: 1;
        color: hsl(208, 32%, 69%);
        transition: 0.3s ease;
    }