* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

/*navigation menu*/
.navigation { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: hsla(0, 0%, 16%, 0.492);
    font-size: 25px;
    color: white;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}

    .navigation .logo {
        padding-left: 15px;
        color: hsl(208, 32%, 69%);
    }
    .navigation a {
        text-decoration: none;
        color: white;
    }
    
    .navigation .menu {
        display: flex;
        justify-content: flex-end;
    }

    .navigation .menu li:hover {
        background-color: hsla(208, 40%, 65%, 0.211);
        border-radius: 5px;
        transition: 0.3s ease;
    }

    .navigation li {
        list-style: none;
        padding: 7px 20px;
    }

/*dropdown menu*/
.dropdown-content {
    display: none;
    position: absolute;
    min-width: 200px;
    z-index: 1;
    }  

.dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
    }
      
.dropdown:hover .dropdown-content a:hover {
    color: hsl(208, 32%, 69%);
    transition: 0.3s ease;
    }

/*body*/
body {
    background-color: black;
    color: white;
}
